<form
  class="p-4 flex items-center gap-2"
  [formGroup]="tableEditorSelectionForm"
  (ngSubmit)="openCreateTableDialog()"
>
  <mat-form-field>
    <mat-label>Templates</mat-label>
    <mat-select formControlName="quizSelection">
      <mat-option *ngFor="let table of tables$ | async" [value]="table.id">
        {{ table.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Quiz Name</mat-label>
    <input matInput formControlName="quizName" />
  </mat-form-field>
  <button
    mat-icon-button
    type="button"
    *ngIf="selectedTableId !== null"
    matTooltip="Lösche Tabelle"
    (click)="openDeleteTableDialog(selectedTableId)"
    color="warn"
  >
    <mat-icon fontIcon="delete"></mat-icon>
  </button>
  <button mat-icon-button matTooltip="Erstelle Tabelle" color="primary">
    <mat-icon fontIcon="table"></mat-icon>
  </button>
</form>
<div class="container">
  <ng-container *ngIf="tableConfig">
    <form [formGroup]="createQuestionForm">
      <!-- <table>
        <tr>
          <th></th>
          <th *ngFor="let col of cols">
            <mat-form-field appearance="fill">
              <input
                matInput
                [formControlName]="col.key"
                placeholder="Kategorie"
              />
            </mat-form-field>
          </th>
        </tr>
        <tr *ngFor="let row of rows; let rowIndex = index">
          <td>
            <mat-form-field appearance="fill">
              <input
                matInput
                [formControlName]="row.key"
                placeholder="Punkteanzahl"
                type="number"
                min="0"
              />
            </mat-form-field>
          </td>
          <ng-container *ngFor="let col of cols; let colIndex = index">
            <td>
              <button
                *ngIf="
                  getPointsControlAt(rowIndex).valid &&
                  getCategoryControlAt(colIndex).valid
                "
                (click)="createQuestion()"
                mat-button
                color="primary"
              >
                Frage erstellen
              </button>
            </td>
          </ng-container>
        </tr>
      </table> -->
    </form>
  </ng-container>
</div>
