<button mat-raised-button (click)="deleteTable()" color="warn">
  Tabelle löschen
</button>
<div class="container">
  <ng-container *ngIf="!tableConfig">
    <button mat-button (click)="openDialog()" color="primary">
      Tabelle erstellen
    </button>
  </ng-container>

  <ng-container *ngIf="tableConfig">
    <form [formGroup]="createQuestionForm">
      <table>
        <tr>
          <th></th>
          <th *ngFor="let col of cols">
            <mat-form-field appearance="fill">
              <input
                matInput
                [formControlName]="col.key"
                placeholder="Kategorie"
              />
            </mat-form-field>
          </th>
        </tr>
        <tr *ngFor="let row of rows; let rowIndex = index">
          <td>
            <mat-form-field appearance="fill">
              <input
                matInput
                [formControlName]="row.key"
                placeholder="Punkteanzahl"
                type="number"
                min="0"
              />
            </mat-form-field>
          </td>
          <ng-container *ngFor="let col of cols; let colIndex = index">
            <td>
              <button
                *ngIf="
                  getPointsControlAt(rowIndex).valid &&
                  getCategoryControlAt(colIndex).valid
                "
                (click)="createQuestion()"
                mat-button
                color="primary"
              >
                Frage erstellen
              </button>
            </td>
          </ng-container>
        </tr>
      </table>
    </form>
  </ng-container>
</div>

<!-- locate question in table with coordinate system -->
