<button mat-raised-button (click)="deleteTable()" color="warn">
  Tabelle löschen
</button>
<div class="container">
  <ng-container *ngIf="!tableConfig">
    <button mat-button (click)="openDialog()" color="primary">
      Tabelle erstellen
    </button>
  </ng-container>
  <ng-container *ngIf="tableConfig">
    <table>
      <tr>
        <th></th>
        <th *ngFor="let col of cols">
          <mat-form-field appearance="fill">
            <input matInput placeholder="Kategorie" />
          </mat-form-field>
        </th>
      </tr>
      <tr *ngFor="let row of rows">
        <td>
          <mat-form-field appearance="fill">
            <input matInput placeholder="Punkteanzahl" type="number" min="0" />
          </mat-form-field>
        </td>
        <td *ngFor="let col of cols">
          <button mat-button color="primary">Frage erstellen</button>
        </td>
      </tr>
    </table>
  </ng-container>
</div>

<!-- locate question in table with coordinate system -->
