.component {
  min-height: 15em;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  width: fit-content;
}
